.tracking-pages {
    display: flex; 
    flex-direction: row;   
    justify-content: center;
    align-items: center;
    padding-top: 1em;
    margin-bottom: 26px;
}
.text-bottom {
    border-bottom: 1px solid #36454F;
}

@media (max-width: 320px) {
    .alert-style {
        width: 88% !important;
    }
}

@media (max-width: 425px) {
    .alert-style {
        width: 90%;
    }
}