.hand-cursor {
  cursor: pointer;
}

.share-icons {
  width: 100% !important;
  display: flex !important;
}

@media (min-width: 925px) {
  .social-icons {
    padding: 0rem 0.3rem 0rem 0rem !important;
  }
}

@media (min-width: 959px) {
  .social-icons {
    padding: 0rem 0.5rem 0rem 0rem !important;
  }
}

@media (min-width: 976px) {
  .social-icons {
    padding: 0rem 0.6rem 0rem 0rem !important;
  }
}

@media (min-width: 1008px) {
  .social-icons {
    padding: 0rem 0.9rem 0rem 0rem !important;
  }
}

@media (min-width: 1030px) {
  .social-icons {
    padding: 0rem 2.5rem 0rem 0rem !important;
  }
}

.share-icon-style {
  width: 45px;
  height: 45px;
}

.web-icon {
  border: none;
  background: none;
  padding: 0px;
}