.preference_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  align-items: flex-start;
  padding: 1rem;
  text-align: left;
  width: 60vw;
  margin: auto;
}

.preference_container > .note {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 10px;
  color: #979797;
}

.preference_container > .toggle_section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 13px;  
  line-height: 19px;
  font-family: "Roboto";
}

.small-heading {
  font-weight: 500;
}

.toggle_section > span {
  margin-bottom: 14px;
}

.preference_container > .add_contacts {
  width: 307px;
  margin: 0 auto;
}

.nick-name {
  width: 132px; 
  height: 24px; 
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  border-color: #BDBDBD;
  align-items: flex-start;  
}

.nick-name:hover {
  cursor: pointer;
  border-width: 1px;
  border-color: #000000;
}

.nick-name:focus-within {
  cursor: pointer;
  border-width: 2px;
  border-color: #1976d2;
}

.short-name {
  padding-top: 2px;
  padding-left: 10px;
  width: 115px;
  height: 21px;
  font-size: 15px;
  text-align: start;
  font-family: "Roboto";
  color: #000000;
  border: none;
}

.short-name:focus {
  outline-style: none !important;
  border-width: 0;
}

@media (max-width: 900px) {
  .preference_container {
    padding: 1rem;
    margin: 0 auto;
    width: 90%;
  }
  .preference_container > .add_contacts {
    width: 100%;
  }  
}
