.header-class {
    display: flex;
    flex-direction: row;   
    margin: 0;    
    gap: 0.5em;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;         
    border-bottom: 1px solid #E3602C ;
    padding-bottom: 0.25rem;
}

.img-class {
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 0.75rem;
    order: 1;
    cursor: pointer;    
}

.notification-img-class {
    margin-left: auto;
    margin-right: -14px;
}

.notification-icon-color {    
    opacity: 0.9;
    cursor: pointer;
    margin-top: -4px;
    margin-left: 31px;
}

.notification-disabled-icon-color {    
    opacity: 0.18;
}

@media (max-width: 900px) {
    .header-class {
        width: 100vw;    
    }    
}

.notification-icon-class { 
    order: 4;                                    
    margin-top: auto;
    margin-bottom: auto;    
    cursor: pointer;
}

.notifications-mobile {
    font-family: "Roboto";
    font-style: normal;
    font-size: 16px;
    line-height: 16px;
    color: whitesmoke;
    align-items: center;
}

@media (max-width: 900px) {
    .img-class{
        width: 9rem;
    }
}

.header-menu_img > h2 {
    padding: 0.8rem;
    font-size: 14px;
    font-weight: 700;
    border-radius: 50%;
    background-color: #F5F5F5F5;
    color: black;
    margin-top: -10px;
    margin-right: -38px
  }