.popup {
  padding: 1rem 1.5rem 1rem 1rem;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: hidden;
}

.popup_title {
  color: #000;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 17px;
}

.popup_title img {
  margin-right: 5px;
}

.popup_message {
  font-size: 12px;
  font-weight: 400;
  margin-top: 0;
  color: #616161;
}

.download_success{
  font-weight: 400;
  font-size: 14px;
}

.loop_icon{
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.popup_loader_img {
  padding: 1rem 0;
  animation: rotation 4s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.dark_bg_btn {
  width: 7rem;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-weight: 600;
  font-size: 12px;
  color: #fff;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-display: row;
}

.dark_bg_btn svg {
  height: 1rem;
  width: 1rem;
}

.dismiss_btn {
  border: none;
  background-color: #fff;
  font-size: 12px;
  font-weight: 400;
}

.dark_bg_btn,
.dismiss_btn {
  margin: 0.5rem auto;
  font-family: "Roboto";
}

@media (max-width: 880px) {
  .notification_dialog {
    margin-top: -450px;
  }
}

@media (max-width: 480px) {
  .css-2si99l-MuiModal-root-MuiDialog-root .MuiDialog-container .MuiPaper-root  {
   height: 200px;
  }
}

@media (max-width: 580px) {
  .css-yhpku3-MuiModal-root-MuiDialog-root .MuiDialog-container .MuiPaper-root {
    margin-top: 200px;
  }
}