.pagination {
    display: flex; 
    flex-direction: row;   
    justify-content: center;
    align-items: center;
    padding-top: 1em;    
    align-self: center;
    margin-bottom: 26px;
}
.text-bottom {
    border-bottom: 1px solid #36454F;
}