
.single_history_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    box-sizing: border-box;
  }
  
  .single_history_container  .single_history_data {
    display: flex;
    flex-direction: column;
    width: 77.5vw;
    margin-top: 1.5rem;
  }

  .single_history_data .session_expired_banner{
    background-color: #FF7410;
    margin-bottom: 1rem;
    color: #fff;
    padding: 0.5rem;
    border-radius: 10px;
  }
  
  .single_history_data .head_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #D9D9D9;
    padding: 5px 0.5rem;
    font-weight: 700;
    font-size: 16px;
    border-radius: 10px 10px 0 0;
  }
  
  .head_section > .icons {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .head_section > .icons > div {
    margin-right: 1rem;
  }
  
  .grey_bg {
    width: 1rem;
    background-color: #d9d9d9;
    border-radius: 50%;
    padding: 5px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .single_history_data >.session_data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .head_map_holder{
    width: 62vw;
    border-radius: 10px;
    overflow: hidden;
  }

  .live_table_holder{
    width: 59.5vw;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .contact-section-header{
    font-size: 16px;
    font-weight: 700;
  }

  .default_shared_contacts{
    margin-top: 1.5rem ;
  }

  .session_data > .shared_contacts{
    width: 15vw;
    background: #E6E6E6;
    margin-left: 1rem;
    padding: 0rem 0rem 0rem 1rem;
    border-radius: 10px;
  }

  .session_data > .shared_contacts p{
    color: #000;
    font-size: 13px;
    font-weight: 400;
    text-decoration: underline;
    margin: 5px 0;
  }

  .no_contacts {
    margin-top: 123px;
    text-decoration: none;
    text-align: center;
    color: rgb(151, 151, 151);
    font-size: 15px;
  }
  
  .single_history_data > .session_detail_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 12px;
    background: #E6E6E6;
    padding: 0 1rem;
    border-radius: 10px;
  }
  
  .location_axis {
    font-size: 15px;
  }

  .hand_cursor{
    cursor: pointer;
  }

  .share-icon-enabled {
    opacity: 1;
    cursor: pointer;
  }

  .disabled-share-icon {
    opacity: 0.2;
  }

  .contacts-shared {
    white-space: normal;
    overflow-wrap: break-word;
  }

  @media (max-width: 1300px) {
    .single_history_container  .single_history_data {
      width: 60vw;
    }
    .head_map_holder{
      width: 65.5vw;
    }
    .live_table_holder{
      width: 60vw;
    }
  }

  @media (max-width: 1080px) {
    .single_history_container  .single_history_data {
      width: 90vw;
    }
    .session_data .shared_contacts{
      width: 20%;
    }
    .head_map_holder{
      width: 75%;
    }
    .live_table_holder{
      width: 100%;
    }
  }
  
  
  @media (max-width: 900px) {
    .single_history_container > .single_history_data {
      width: 90%;
    }
    .head_section > .icons > div{
      margin-right: 5px;
    }
    .single_history_data .session_data{
      flex-direction: column;
      height: auto;
    }
    .session_data > .shared_contacts{
      width: inherit;
      margin-top: 1rem;
      margin-left: 0;
    }
    .single_history_data > .session_detail_header {
      flex-direction: column;
    }
    .head_map_holder{
      width: 100%;
    }
    .live_table_holder{
      width: 99%;
    }
  }

  @media (max-width: 899px) {
    .web-dateTime {
      display: none !important;
    }
  }

  @media (min-width: 899px) {
    .mobile-date {
      display: none !important;
    }
  }

  @media (max-width: 768px) {
    .single_history_data > .session_detail_header {
       display: inline !important;
    }
  }
  
