.profile_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  font-family: "Roboto";
}

.profile_data {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 90vw;
  margin-bottom: 1rem;
}

.title > .user_name {
  font-weight: 600;
  font-size: 32px;
}

.title > h2 {
  font-weight: 300;
  font-size: 26px;
  line-height: 15px;
}

.stats,
.stats2 {
  font-size: 13px;
  font-weight: 400;
}

.stats > p,
.stats2 > p {
  margin: 2px 0;
}

.stats_title {
  font-weight: 500;
}

.user_details {
  display: flex;
  align-items: center;
  background-color: #e3602c;
  padding: 0.5rem 1rem;
  height: 100%;
  border-radius: 19px;
}

.user_details:hover {
  cursor: pointer;
}

.profile_img > h2 {
  padding: 0.8rem;
  font-size: 14px;
  font-weight: 500;
  border-radius: 50%;
  background-color: #979797;
}

.profile_img {
  padding-right: 1rem;
}

.user_details > div > p {
  margin: 0 0 2px 0;
  font-size: 13px;
  font-weight: 500;
  color: #fefefe;
}

.user_details > div:last-child {
  min-width: 5rem;
}

.profile_data > .mobile-stats {
  font-size: 13px;
  font-weight: 500;
  padding: 5px;
}

table.mobile-stats {
  border: 1px solid black;
  border-collapse: collapse;
}

th.mobile-stats {
  border: 1px solid black;
  border-collapse: collapse;
  width: 60%;
  padding: 5px;
}

td.mobile-stats {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}

@media (max-width: 1080px) {
  .profile_data{
    width: 95vw;
  }
}

@media (max-width: 900px) {
  .profile_data {
    flex-direction: column;
    align-items: start;
    width: 90%;
  }
  .stats p:last-child {
    margin-bottom: 0;
  }
  .user_details{
    margin-top: 1rem;
  }  
  .stats, .stats2 {
    display: none;
  }   
  .mobile-stats {
    width: 100%;
  }
}

@media (min-width: 899px) {
  .mobile-stats {
    display: none;
  }
}