:root {
    /* Update this if you want to update width of table or add/remove columns */
    --table-width: 90vw;
    --num-columns: 8; 
}
 
.share-icon {
    opacity: 0.8;
    cursor: pointer;
}


.disabled-share-icon {
    opacity: 0.2;
}

.delete_icon {
    margin-bottom: -0.2rem;
}

.history_table {
    width: var(--table-width);
    border-collapse: collapse;
    border-radius: 10px;
    box-shadow: 0px 45px 112px rgba(0, 0, 0, 0.06),
    0px 22.7812px 48.825px rgba(0, 0, 0, 0.0405),
    0px 9px 18.2px rgba(0, 0, 0, 0.03),
    0px 1.96875px 6.475px rgba(0, 0, 0, 0.0195);
}

.history_table thead{
    display: block;
    width: 100%;
    position: sticky;  
    top: 0;    
}
  
.history_table th {
    text-align: left;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem; 
    background-color: #f5f5f5;
    font-weight: 500;
    font-size: 13px;
}

.history_table th,td{
    width: calc(var(--table-width) / 8) !important;
    overflow-x: wrap;
}

/* For left space to first coluemn */
.history_table th:nth-child(1),.history_table td:nth-child(1){
    padding-left: 1rem;
}
  
.history_table td {
    text-align: left;  
    font-weight: 400;
    font-size: 13px;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem; 
}
  
  /* checkbox Styles */
  .checkbox-container {
    position: relative;
    display: inline-block;
    min-width: 14px;
    height: 14px;
    background-color: #D9D9D9;
    border: 1px solid #000;
    border-radius: 3px;
    margin-right: 1rem;  
  }
  .checkbox-container > *{
    cursor: pointer;
  }
  
  .checkbox-container input[type="checkbox"] {
    position: absolute;
    opacity: 0;  
  }
  .checkbox:hover {  
    cursor: pointer;
  }
  .checkbox-container label {
    position: absolute;
    top: 0;
    left: 0;
    width: 14px;
    height: 14px;
    background-color: #D9D9D9;
    border-radius: 3px;
    transition: all 0.2s ease;
  }
  .checkbox-container input[type="checkbox"]:checked + label {
    background-color: #FF7410;
  }
  .checkbox-container input[type="checkbox"]:checked + label::after {
    content: url(../../../shared/icons/checkmark_white.svg);
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10px;
    color: #FFFFFF !important;
  }
  
  .history_table_body tr{
    border-top: 1px solid #e6e6e6;
  }
  
  .history_table_body tr:hover {
    border-top: 1px solid #ff7410;
    background-color: #e6e6e6;
  }
  
  .history_table tr > td:first-child > div {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  /* for making start and end locations as bold */
  .history_table tr:hover td:nth-child(5),.history_table tr:hover td:nth-child(6) {
    font-weight: 600;
  }
  
  .icons-class {
    opacity: 0.8;
    cursor: pointer;
  }
  
  .share_icons > * {
    padding-right: 0.5rem;
  }
  
  .lock_icon{
    margin-right: 10px;
  }
  
  .share_preferences{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .hand_cursor{
    cursor: pointer;
  }

  @media (max-width: 1080px) {
    .history_table {
      width: 95vw;
    }
    .history_table th,td{
      width: calc(95vw / var(--num-columns)) !important;
    }
  }
  
  @media (max-width: 900px) {
    .history_table {
      width: 60rem;
    }

    .history_table th,td{
      width: 8rem !important;
    }
   
  }

@media (max-width: 425px) {
  .share_icons > * {
    padding: 4px;
  }
  
}