.popup {
    padding: 1rem 3rem 1rem 3rem;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: hidden;
  }
  
  .popup_title {
    color: #000;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 17px;
  }
  
  .popup_title img {
    margin-right: 5px;
  }
  
  .popup_message {
    font-size: 12px;
    font-weight: 400;
    margin-top: 0;
    color: #616161;
  }
  
  .download_percentage {
    width: 8rem;
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: 1px solid #000;
    border-radius: 40px;
    background-color: #fff;
  }
  
  .download_progress {
    background-color: #d9d9d9;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .popup_loader_img {
    padding: 1rem 0;
    animation: rotation 4s linear infinite;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .dark_bg_btn {
    width: 7rem;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-weight: 600;
    font-size: 12px;
    color: #fff;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-display: row;
  }
  
  .dark_bg_btn svg {
    height: 1rem;
    width: 1rem;
  }
  
  .dismiss_btn {
    border: none;
    background-color: #fff;
    font-size: 12px;
    font-weight: 500;   
    font-style: normal; 
    line-height: 14px;
    color: #000000;    
    cursor: pointer;
  }
  
  .dark_bg_btn,
  .dismiss_btn {
    margin: 0.2rem auto;
    font-family: "Roboto";
  }
  .alert {
    padding: 0 1rem 1rem 1.5rem;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: hidden;
  }

  @media (max-width: 480px) {
    .popup {
      padding: 1rem;
    }
  }
  