  .contact-class {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    font-family: "Roboto";
  }
  
  .contacts_table_container{
    max-height: 60vh;
    overflow: auto;
  }
      
  .contacts_table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    box-shadow: 0px 45px 112px rgba(0, 0, 0, 0.06),
      0px 22.7812px 48.825px rgba(0, 0, 0, 0.0405),
      0px 9px 18.2px rgba(0, 0, 0, 0.03),
      0px 1.96875px 6.475px rgba(0, 0, 0, 0.0195);
  }

  .contacts_table th {
    width: 5rem;
    text-align: left;    
    background-color: #f5f5f5;
    padding: 0.6rem 0;
    font-weight: 500;
    font-size: 13px;
  }

  .contacts_table th:nth-child(1){
    width: 20rem;
  }

  .contacts_table th:nth-child(2){
    width: 25rem;
  }
  
  .contacts_table td {
    text-align: left;
    padding: 1rem 0;
    font-weight: 400;
    font-size: 13px;
  }
  
  .contacts_table tr > td:first-child,
  .contacts_table tr > th:first-child {
    padding-left: 1rem;
  }
  .contacts_table tr > td:last-child,
  .contacts_table tr > th:last-child {
    padding-right: 1rem;
  }
  
  .contacts_table tr:not(:first-child){
    border-top: 1px solid #e6e6e6;
  }
  
  .contacts_table tr:not(:first-child):hover {
    border-top: 1px solid #ff7410;
    background-color: #e6e6e6;
  }
  
  .contacts_table tr > td:first-child > div {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .contacts_table tr:hover td:nth-child(4) {
    font-weight: 600;
  }
  .contacts_table tr > td:last-child {
    opacity: 0.8;
  }
  
  .hand_cursor{
    cursor: pointer;
  }

  .image-container {
    display: flex;
    justify-content: right;
    align-items: right;
    cursor: pointer;
 }
  
  @media (max-width: 1300px) {    
    .contacts_table {
      /* width: 60vw; */
      width: 100%;
    }
  }
  
  @media (max-width: 900px) {    
    .contacts_table_container{
      width: 100%;
      overflow-x: auto;
    }
  }
  