.home-container {
    position: relative;    
}

.home_img{
    width: 100%; 
    height: 100vh;        
    object-fit: cover;
    bottom: -1;
    pointer-events: none;
}

.text_image_container{
    display: flex;
    flex-direction: row;   
    margin: 0;    
    gap: 1em;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;                 
}

.location-text { 
    position: absolute;     
    left: 15%;    
    top: 30%;    
    order: 1; 
    height: 20px;    
    font-family: "Roboto";
    font-size: 48px;
    font-weight: 600;    
    color: #FFFFFF;
    white-space: normal; 
    text-align: left;     
}

.bull_img{
    position: absolute;  
    order: 2; 
    top: 32%;  
    right: 34.5%;              
    width: 80px;    
    height: 80px;        
    white-space: normal;  
}

.footer-text {
    position: absolute;        
    bottom: 4%;    
    left: 50%;
    text-align: center;
    font-family: "Montserrat";
    font-size: 10px;
    font-weight: 300;
    line-height: 15px;
    color: #FFFFFF;
    transform: translate(-50%, -50%);
}

@media (max-width: 1200px) {         
    .location-text {
        top: 20%;    
        left: 5%; 
        width: 30%;         
    }
    .bull_img {
        top: 22.5%;  
        right: 30%;  
    }
    .footer-text {
        bottom: 1rem;
    }
}

@media (max-width: 900px) {         
    .location-text {
        top: 20%;    
        left: 5%;  
        width: 30%;
    }
    .bull_img {
        top: 22%;  
        right: 25%;  
    }
}

@media (max-width: 500px) {         
    .location-text {
        top: 20%;    
        left: 5%;  
        width: 30%;
    }
    .bull_img {
        top: 22%;  
        right: 5%;  
    }
}

@media (max-width: 375px) {         
    .location-text {
        top: 20%;    
        left: 5%;  
        width: 30%;
    }
    .bull_img {
        top: 45%;  
        left: 5%;  
        width: 60px !important;    
        height: 60px !important;  
    }
}
