@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&family=Roboto:wght@300;400;500;700;900&display=swap");

html {
  height: 100%;
}
html, body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column; 
  font-family: "Roboto";  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
